body {
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo {
    margin: auto;
    max-width: 960px;
}

.caixa {
    background-color: gray;
    border-radius: 5px;
    display: inline-block;
    padding: 25px;
    margin: 10px 0;
}

.grow {
    transition: all 1s ease;
}
.grow:hover {
   transform: scale(1.1);
}


.shrink {
    transition: all 0.5s ease;
}

.shrink:hover {
    transform: scale(0.9);
}

@keyframes pulse {
    
    0% {
		transform: scale(0.95);
		
	}

	70% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.95);
		
    }
}

.pulse:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.pulse-grow {
    transition: all 1s ease;
}


.pulse-grow:hover{
    animation-name: pulse-grow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



.pulse-shrink {
    transition: all 1s ease;
}


.pulse-shrink:hover{
    animation-name:pulse-shrink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}




.push:hover{
    animation-name:push;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes push {
    50%  {transform: scale(0.8);}
}


.pop:hover{
    animation-name: pop;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes pop{
    50%  {transform: scale(1.2);}
  }
  

  .bounce-in:hover{
    animation-name: bounceIn;
    animation-duration: 1s;
    animation-iteration-count: 1
    
}

  @keyframes bounceIn {
    0% {
       transform: scale(1);
    }
    25% {
       transform: scale(1.1);
    }
    50% {
       
       transform: scale(1);
    }
    100% {
       
       transform: scale(1.3);
    }
 } 

.bounce-out:hover{
    animation-name: bounceOut;
    animation-duration: 1s;
    animation-iteration-count: 1
    
}

  @keyframes bounceOut {
    0% {
       transform: scale(1);
    }
    25% {
       transform: scale(.95);
    }
    50% {
       
       transform: scale(1.1);
    }
    100% {
       
       transform: scale(.7);
    }
 } 


.rotate {
    transition: all 1s ease;
}
 .rotate:hover {
     transform: rotate(20deg);
 }


 .grow-rotate {
    transition: all 1s ease;
}
 .grow-rotate:hover {
     transform: scale(1.2) rotate(20deg);
     
 }

 .float {
    transition: all 1s ease;
}

.float:hover{
    transform: translateY(-10px);
}

.sink {
    transition: all 1s ease;
}

.sink:hover{
    transform: translateY(10px);
}


.bob {
    transition: all 1s ease;
}

.bob:hover{
    
    transform: translateY(-10px);
    animation-name: bob;
    animation-duration: 1s;
    animation-iteration-count: infinite

}

@keyframes bob {
   
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-10px);
    }
}
    